<table>
    <tr>
        
            <th>ID</th>
            <th>arrondissement</th>
            <th>adresse</th>
            <th>geopoint2D</th>
            <th>hours</th>
            <th>type</th>
            <th>PRM</th>
            <th>baby</th>
            <th>sink</th>
            <th>rating</th>
            <th>descriptions</th>
            <th>photos</th>
            <th>edit</th>
            <th>delete</th>
        
    </tr>

    <tbody>
        {{#each toilets}}
        <tr>
        <td>{{this.recordid}}</td>
        <td>{{this.arrondissement}}</td>
        <td>{{this.adresse}}</td>
        <td>{{this.geo_point_2d}}</td>
        <td>
            <a href="{{this.horaire}} ">horaire</a>
          
            </td>
        <td>{{this.type}}</td>
        <td>{{this.acces_pmr}}</td>
        <td>{{this.relais_bebe}}</td>
        <td>{{this.lavabo}}</td>
        <td>{{this.rate}}</td>
        <td>{{this.user_descriptions}}</td>
        <td>{{this.user_photos}}</td>
        <td><a href="/edit/{{this._id}}"><img src="./../images/edit-solid.svg" alt="edit"></a></td>
        <td><a href="/{{this._id}}/delete"><img src="./../images/eraser-solid.svg" alt="delete this toilet"></a></td>
        <td><a href="/{{this._id}}"></a></td>
        <td><a href="/{{this._id}}">voir ce chiotte</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>