<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/stylemain.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    
  </head>
  <nav>
      <div>
        <h1>
          Pipinterest
        </h1>
      </div>
      <div class="nav">
          <ul>
            <li><a href="http://">home</a> </li>
            <li><a href="http://">login</a> </li>
            <li><a href="http://">admin</a> </li>
            <li><a href="http://">en/fr</a> </li>
        </ul>
      </div>
  </nav>

  <body>
        {{{body}}}
    <section id="main">

        <div id="map" class = "vert">
            <h2>where should I pee?</h2>
            <img src="./../images/paris2.jpg" alt="placeholder map">
        </div>

        <div class="flex-container">
            <div id="filters" class = "rouge">
                <h3>filter by...</h3>
                <ul>
                <li>arrondissement</li>
                <li>washbasin</li>
                <li>baby changing station</li>
                <li>type</li>
                <li>PRM accessiblity</li>
                <li></li>
                <li></li>
                <li></li>
                </ul>
            </div>

            <div id="list" class = "mauve">
                <h3>list</h3>
                <table>
                    <tr>
                        <th>arrondissement</th>
                        <th>address</th>
                        <th>baby</th>
                        <th>wahsbin</th>
                        <th>PRM</th>
                        <th>type</th>
                        <th>hours</th>
                        <th>rating</th>
                    </tr>
                    <tbody>
                    {{!-- {{#each}}
                    <tr>
                    <td>{{this.arrondissement}}</td>
                    <td>{{this.adresse}}</td>
                    <td>{{this.relais_bebe}}</td>
                    <td>{{this.lavabo}}</td>
                    <td>{{this.acces_PMR}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.horaire}}</td>
                    </tr>
                    {{/each}} --}}
        
                    <tr>
                    <td>28200</td>
                    <td>38 rue tartempion</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>sanisette</td>
                    <td>8h-22h</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>28200</td>
                    <td>38 rue tartempion</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>sanisette</td>
                    <td>8h-22h</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>28200</td>
                    <td>38 rue tartempion</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>sanisette</td>
                    <td>8h-22h</td>
                    <td></td>
                    </tr>
                    <tr>
                    <td>28200</td>
                    <td>38 rue tartempion</td>
                    <td>true</td>
                    <td>true</td>
                    <td>false</td>
                    <td>sanisette</td>
                    <td>8h-22h</td>
                    <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    
    <section id="about" class = "jaune">
        <h3>about</h3>

        <div class="flex-container">
            
            <article id= "alix">
                <h4>alix</h4>
                <img src="./../images/pexels-photo-1130626.jpeg" alt="alix">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  totam commodi illo vero soluta!
                </p>
            </article>

            <article id= "pauline">
                <h4>pauline</h4>
                <img src="./../images/pexels-photo-1937394.jpeg" alt="pauline">
                <p>
                Dicta aspernatur aut optio inventore sed aperiam possimus cum eligendi molestiae hic
                </p>
            </article>

            <article id= "cécile">
                <h4>cécile</h4>
                <img src="./../images/pexels-photo-789812.jpeg" alt="cécile">
                <p>
                laborum minus vitae exercitationem beatae,
                </p>
            </article>
        </div>
    </section>
    <footer>
        <p>site extrêmement utile réalisé pendant le bootcamp développement web de janvier 2020 à ironhack paris</p>
    </footer>
  </body>
</html>
