<h2>Know more about your favorite toilet</h1>
    <table>
        <tbody>
        <tr>
        <td>{{toilet.arrondissement}}</td>
        <td>{{toilet.adresse}}</td>
        <td>{{toilet.horaire}}</td>
        <td>{{toilet.type}}</td>
        <td>{{toilet.acces_pmr}}</td>
        <td>{{toilet.relais_bebe}}</td>
        <td>{{toilet.lavabo}}</td>
        <td>{{toilet.user_descriptions}}</td>
        <td><img id="user-toiletPicture" src="{{toilet.user_photos}}" alt="a user picture of a toilet <3"></td>
        {{#if isLoggedIn}}
        <label for="Comment the text">Add a comment on this toilet</label>
        <input type="text" name="commentUser">
        {{/if}}
        </tr>
        </tbody>
    </table>