THIS A VIEW A OF SINGLE TOILET

    <table>
        <tbody>
        <tr>
        <td>{{toilet.recordid}}</td>
        <td>{{toilet.arrondissement}}</td>
        <td>{{toilet.adresse}}</td>
        <td>{{toilet.geo_point_2d}}</td>
        <td>{{toilet.horaire}}</td>
        <td>{{toilet.type}}</td>
        <td>{{toilet.acces_pmr}}</td>
        <td>{{toilet.relais_bebe}}</td>
        <td>{{toilet.lavabo}}</td>
        <td>{{toilet.rate}}</td>
        <td>{{toilet.user_descriptions}}</td>
        <td>{{toilet.user_photos}}</td>
        <td><a href="/{{toilet._id}}/edit"><img src="./../images/edit.png" alt="edit"></a></td>
        <td><a href="/{{toilet._id}}/delete"><img src="./../images/erase.png" alt="delete toilet toilet"></a></td>
        <td><a href="/{{toilet._id}}">voir ce chiotte</a></td>
        </tr>
        </tbody>
    </table>